<div class="footer">
  <table width="100%">
    <tr>
      <td class="content-block aligncenter">
        <ul class="social">
          <li>
            <a href="https://www.facebook.com/cappasity" itemprop="url">
              <img src="https://cdn.cappasity.com/mail/icon-facebook.png" width="32" height="32" alt="Facebook" />
            </a>
          </li>
          <li>
            <a href="https://twitter.com/cappasity" itemprop="url">
              <img src="https://cdn.cappasity.com/mail/icon-twitter.png" width="32" height="32" alt="Twitter" />
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/cappasity-inc-" itemprop="url">
              <img src="https://cdn.cappasity.com/mail/icon-linkedin.png" width="32" height="32" alt="LinkedIn" />
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/cappasity" itemprop="url">
              <img src="https://cdn.cappasity.com/mail/icon-instagram.png" width="32" height="32" alt="Instagram" />
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/c/Cappasity3D" itemprop="url">
              <img src="https://cdn.cappasity.com/mail/icon-youtube.png" width="32" height="32" alt="Youtube" />
            </a>
          </li>
          <li>
            <a href="https://medium.com/cappasity-blog" itemprop="url">
              <img src="https://cdn.cappasity.com/mail/icon-medium.png" width="32" height="32" alt="Medium" />
            </a>
          </li>
          <li>
            <a href="https://github.com/CappasityTech" itemprop="url">
              <img src="https://cdn.cappasity.com/mail/icon-github.png" width="32" height="32" alt="Github" />
            </a>
          </li>
          <li>
            <a href="https://cappasity.com" itemprop="url">
              <img src="https://cdn.cappasity.com/mail/icon-link.png" width="32" height="32" alt="Cappasity Website" />
            </a>
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="aligncenter content-block muted">
        &copy; Copyright 2015-2020 Cappasity Inc. All rights reserved.
      </td>
    </tr>
  </table>
</div>
