{
  "plugins": [
    "@babel/plugin-transform-spread",
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-transform-strict-mode",
    "@babel/plugin-transform-parameters",
    "@babel/plugin-transform-shorthand-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ]
}
