<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="../css/ink.css" inline>
    <link rel="stylesheet" href="../css/cappasity.css" inline>
  </head>
  <body>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
            <table class="container">
              <tr>
                <td>
                  <table class="block-grid">
                    <tr class="column">
                      <td class="twelve">
                        <img src="<!-- @exec toBase64('/images/cappasity-logo@2x.png', NODE_ENV) -->" width="458px" height="69px" class="header-padding center" />
                      </td>
                    </tr>
                    <tr class="column">
                      <td class="twelve">
                        <h2 class="center cappasity-hero">Account Activation</h2>
                      </td>
                    </tr>
                    <tr class="column">
                      <td class="twelve">
                        <p class="section-padding">
                          Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.
                        </p>
                      </td>
                    </tr>
                    <tr class="column">
                      <td class="twelve">
                        <div class="section-padding" style="text-align: center;">
                          <a class="cappasity-button" href="{{ link  }}{{ qs }}">Activate Account</a>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table class="block-grid">
                    <tr class="column">
                      <td>
                        <p class="section-padding cappasity-subtle">
                          Or activate your account using this link:
                          <a href="{{ link  }}{{ qs }}">{{ link }}{{ qs }}</a>
                        </p>
                        <p class="cappasity-subtle">
                          If you have any questions regarding our service - feel free to email us <a href="mailto:info@cappasity.com">info@cappasity.com</a>
                        </p>
                      </td>
                    </tr>
                    <tr class="column">
                      <td class="twelve">
                        <hr/>
                      </td>
                    </tr>
                    <tr class="column">
                      <td class="twelve">
                        <table class="block-grid two-up">
                          <tr>
                            <td>
                              <address class="cappasity-info cappasity-subtle">
                                <div><a href="http://cappasity.com">Cappasity Inc</a></div>
                                <div>10685-B Hazelhurst Dr. # 12411</div>
                                <div>Houston, TX 77043 USA</div>
                                <div>(650) 488-7877</div>
                              </address>
                            </td>
                            <td class="social">
                              <a href="https://www.facebook.com/cappasity">
                                <img src="<!-- @exec toBase64('/images/fb-32@2x.png', NODE_ENV) -->" />
                              </a>
                              <a href="https://www.twitter.com/cappasity">
                                <img src="<!-- @exec toBase64('/images/tw-32@2x.png', NODE_ENV) -->" />
                              </a>
                              <a href="https://plus.google.com/u/0/b/107124781678768271231/+Cappasity3D/posts">
                                <img src="<!-- @exec toBase64('/images/gp-32@2x.png', NODE_ENV) -->" />
                              </a>
                              <a href="https://www.linkedin.com/company/cappasity-inc-">
                                <img src="<!-- @exec toBase64('/images/li-32@2x.png', NODE_ENV) -->" />
                              </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>