<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="../css/ink.css" inline>
    <link rel="stylesheet" href="../css/cappasity.css" inline>
  </head>
  <body>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
            <table class="container">
              <tr>
                <td>
                  <table class="block-grid">
                    <tr class="column">
                      <td class="twelve">
                        <img src="https://cdn.cappasity.com/emails/cappasity-logo%402x.fe810e36.png" width="458px" height="69px" class="header-padding center" />
                      </td>
                    </tr>
                    <tr class="column">
                      <td class="twelve">
                        <h2 class="center cappasity-hero">Account Activation</h2>
                      </td>
                    </tr>
                    <tr class="column">
                      <td class="twelve">
                        <p class="section-padding">
                          You need to activate your account before you start using the application.
                          You get a Free account and access to our cloud service - we do not charge you and are not going to ask for your credit card details in the future.
                          You can always change the type of your account to have more features, but this is up to you.
                        </p>
                      </td>
                    </tr>
                    <tr class="column">
                      <td class="twelve">
                        <div class="section-padding" style="text-align: center;">
                          <a class="cappasity-button" href="{{ link  }}{{ qs }}">Activate Account</a>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table class="block-grid">
                    <tr class="column">
                      <td>
                        <p class="section-padding cappasity-subtle">
                          Or activate your account using this link:
                          <a href="{{ link  }}{{ qs }}">{{ link }}{{ qs }}</a>
                        </p>
                        <p class="cappasity-subtle">
                          You can always contact us via email <a href="mailto:info@cappasity.com">info@cappasity.com</a>
                        </p>
                      </td>
                    </tr>
                    <tr class="column">
                      <td class="twelve">
                        <hr/>
                      </td>
                    </tr>
                    <tr class="column">
                      <td class="twelve">
                        <table class="block-grid two-up">
                          <tr>
                            <td>
                              <address class="cappasity-info cappasity-subtle">
                                <div>© Copyright <a href="http://cappasity.com">Cappasity Inc</a>, 2016</div>
                              </address>
                            </td>
                            <td class="social">
                              <a href="https://www.facebook.com/cappasity">
                                <img src="https://cdn.cappasity.com/emails/fb-32%402x.e750a113.png" />
                              </a>
                              <a href="https://www.twitter.com/cappasity">
                                <img src="https://cdn.cappasity.com/emails/tw-32%402x.10770fc8.png" />
                              </a>
                              <a href="https://plus.google.com/u/0/b/107124781678768271231/+Cappasity3D/posts">
                                <img src="https://cdn.cappasity.com/emails/gp-32%402x.102068f4.png" />
                              </a>
                              <a href="https://www.linkedin.com/company/cappasity-inc-">
                                <img src="https://cdn.cappasity.com/emails/li-32%402x.fb8e782d.png" />
                              </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
