<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Welcome to Cappasity ARToken Crowdsale</title>
  <link href="../css/mailgun.css" media="all" rel="stylesheet" type="text/css" inline />
</head>
<body itemscope itemtype="http://schema.org/EmailMessage">
  <table class="body-wrap">
  	<tr>
  		<td></td>
  		<td class="container" width="600">
  			<div class="content">
  				<table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
  					<tr>
  						<td class="content-wrap">
  							<meta itemprop="name" content="Confirm Email"/>
  							<table width="100%" cellpadding="0" cellspacing="0">
  								<tr>
  									<td class="content-block">
                      Hi!
  									</td>
  								</tr>
  								<tr>
  									<td class="content-block">
                      I am a founder and CEO of Cappasity. Let me welcome you and thank you for joining our community! If there is anything I can help you with just let me know. Here’s some information to help you get to know us better.
  									</td>
  								</tr>
                  <tr>
                    <td class="content-block">
                      <b>Our journey</b>: started from e-commerce and online retail where the Cappasity platform is already widely used.
                    </td>
                  </tr>
                  <tr>
                    <td class="content-block">
                      <b>Why we believe in potential of Cappasity AR/VR Ecosystem</b>: By 2021 Mobile AR will be the leading force of the $108 billion AR/VR industry. However, there is still a lack of high quality 3D content preventing the massive expansion of AR/VR.
                    </td>
                  </tr>
                  <tr>
                    <td class="content-block">
                      <b>Our goal</b>: to build #1 decentralized ecosystem that will connect creators with consumers and offer a collection of 3D designs easily accessible and copyright protected. As a step toward this goal we are launching Token sale.
                    </td>
                  </tr>
  								<tr>
  									<td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
  										<a href="https://tokensale.cappasity.com?utm_source=account&utm_medium=subscription&utm_campaign=welcome" class="btn-primary" itemprop="url">Join Token Sale</a>
  									</td>
  								</tr>
  								<tr>
  									<td class="content-block">
  										&mdash; Kosta of Cappasity 3D Team
  									</td>
  								</tr>
  							</table>
  						</td>
  					</tr>
  				</table>
  				<div class="footer">
  					<table width="100%">
  						<tr>
  							<td class="aligncenter content-block">Follow <a href="https://twitter.com/cappasity">@Cappasity</a> on Twitter.</td>
  						</tr>
  					</table>
  				</div></div>
  		</td>
  		<td></td>
  	</tr>
  </table>
</body>
</html>
