<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Cappasity Airdrop: {{ title }}</title>
  <link href="../css/mailgun.css" media="all" rel="stylesheet" type="text/css" inline />
</head>
<body itemscope itemtype="http://schema.org/EmailMessage">
  <table class="body-wrap">
  	<tr>
  		<td></td>
  		<td class="container" width="600">
  			<div class="content">
  				<table class="main" width="100%" cellpadding="0" cellspacing="0">
  					<tr>
  						<td class="content-wrap">
  							<table width="100%" cellpadding="0" cellspacing="0">
  								<tr>
  									<td class="content-block">
                      Dear {{ firstName }} {{ lastName }},
  									</td>
  								</tr>
  								<tr>
  									<td class="content-block">
                      Airdrop for {{ period }} has been processed.
                      Details of this and previous distributions are enclosed for your reference.
  									</td>
  								</tr>
  								<tr>
                    <td class="content-block">
                      <table class="airdrop">
                        <thead>
                          <tr>
                            <th class="fixed-size fixed-size-small alignleft">Period</th>
                            <th class="fixed-size alignleft">Balance</th>
                            <th class="fixed-size alignleft">Tokens</th>
                            <th class="floating alignleft">Tx Hash</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{#each periods}}
                          <tr>
                            <td class="fixed-size fixed-size-small alignleft">{{ period }}</td>
                            <td class="fixed-size alignleft">
                              {{#if ineligible}}
                              -/-
                              {{else}}
                              {{ balance }}
                              {{/if}}
                            </td>
                            <td class="fixed-size alignleft">
                              {{#if ineligible}}
                              -/-
                              {{else}}
                              {{ tokens }}
                              {{/if}}
                            </td>
                            <td class="floating alignleft">
                              {{#if ineligible}}
                              ineligible
                              {{else}}
                              <a href="https://etherscan.io/tx/{{ txHash }}">{{ txHashSmall }}</a>
                              {{/if}}
                            </td>
                          </tr>
                          {{/each}}
                        </tbody>
                      </table>
                    </td>
  								</tr>
  								<tr>
  									<td class="content-block">
  										&mdash; Cappasity 3D Team
  									</td>
  								</tr>
  							</table>
  						</td>
  					</tr>
  				</table>
  				<div class="footer">
  					<table width="100%">
  						<tr>
  							<td class="aligncenter content-block">Follow <a href="https://twitter.com/cappasity">@Cappasity</a> on Twitter.</td>
  						</tr>
  					</table>
  				</div></div>
  		</td>
  		<td></td>
  	</tr>
  </table>
</body>
</html>
