<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Confirm Your Email</title>
  <link href="../css/mailgun.css" media="all" rel="stylesheet" type="text/css" inline />
</head>
<body itemscope itemtype="http://schema.org/EmailMessage">
  <table class="body-wrap">
  	<tr>
  		<td></td>
  		<td class="container" width="600">
  			<div class="content">
  				<table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
  					<tr>
  						<td class="content-wrap">
  							<meta itemprop="name" content="Confirm Email"/>
  							<table width="100%" cellpadding="0" cellspacing="0">
  								<tr>
  									<td class="content-block">
                      Dear {{ firstName }} {{ lastName }},
  									</td>
  								</tr>
  								<tr>
  									<td class="content-block">
                      We need to confirm your email address before you can use the application.
                      You get a Free account and access to our cloud service.
                      You can always change the type of your account to have more features, but this is up to you.
  										We may need to send you critical information about our service and it is important that we have an accurate email address.
  									</td>
  								</tr>
  								<tr>
  									<td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
  										<a href="{{ link  }}{{ qs }}" class="btn-primary" itemprop="url">Confirm email address</a>
  									</td>
  								</tr>
  								<tr>
  									<td class="content-block">
  										&mdash; Cappasity 3D Team
  									</td>
  								</tr>
  							</table>
  						</td>
  					</tr>
  				</table>
  				<div class="footer">
  					<table width="100%">
  						<tr>
  							<td class="aligncenter content-block">Follow <a href="https://twitter.com/cappasity">@Cappasity</a> on Twitter.</td>
  						</tr>
  					</table>
  				</div></div>
  		</td>
  		<td></td>
  	</tr>
  </table>
</body>
</html>
