<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Password Reset</title>
  <link href="../css/cappasity-new.css" media="all" rel="stylesheet" type="text/css" inline />
</head>
<body itemscope itemtype="http://schema.org/EmailMessage">
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" width="600">
      <div class="content">
        <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
          <tr>
            <td class="content-wrap">
              <meta itemprop="name" content="Password Reset"/>
              <table width="100%" cellpadding="0" cellspacing="0">
                <!-- @include _partials/cpst-logo.html -->
                <tr>
                  <td class="content-block header aligncenter bg-error">
                    <img src="https://cdn.cappasity.com/mail/cpst-reset.png" width="96" height="96" alt="Header logo" />
                    Reset your Cappasity password
                  </td>
                </tr>
                <tr><td class="content-block"></td></tr>
                <tr>
                  <td class="text">
                    <p>
                      Hi{{#if name}} {{ name }}{{/if}},
                    </p>
                    <p>
                      Someone requested that the password for your Cappasity account be reset.
                    </p>
                  </td>
                </tr>
                <tr>
                  <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
                    <a href="{{ link }}{{ qs }}" class="btn-primary" itemprop="url">Reset password</a>
                  </td>
                </tr>
                <tr>
                  <td class="text content-block">
                    If you have not requested the password reset, ignore this email or contact us by replying to this email. Your password won't change until you create a new password.
                  </td>
                </tr>
                <tr>
                  <td class="muted">
                    Best,<br>
                    Cappasity Team
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <!-- @include _partials/cpst-footer.html -->
      </div>
    </td>
    <td></td>
  </tr>
</table>
</body>
</html>
