<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Cappasity Tokensale - Documents Approved</title>
  <link href="../css/mailgun.css" media="all" rel="stylesheet" type="text/css" inline />
</head>
<body itemscope itemtype="http://schema.org/EmailMessage">
  <table class="body-wrap">
  	<tr>
  		<td></td>
  		<td class="container" width="600">
  			<div class="content">
  				<table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
  					<tr>
  						<td class="content-wrap">
  							<meta itemprop="name" content="Confirm Email"/>
  							<table width="100%" cellpadding="0" cellspacing="0">
  								<tr>
  									<td class="content-block">
                      <h2>Legal Compliance - Approved</h2>
                      <br/>
                      <p>
                        Dear {{ name }},
                      </p>
                      <p>
                        We are happy to say that you were <b>cleared for ICO participation</b>
                      <p>
                      <p>
                        {{#if bought}}
                        Enjoy even more of our exclusive presale bonuses: +10% for purchases,
                        +25% airdrop bonus and extra share of the Community Bonus Program
                        upon reaching its' next milestones
                        {{else}}
                        <b>Now is the best time for you to get CAPP</b>: exclusive airdrop bonus of up to +25%,
                        presale bonus of +10% and participation in the current and next milestones of
                        Community Bonus Program. Hurry up - it's likely <b>less than a day left</b> until we reach
                        the next milestone and your <b>possible bonus decreases</b>
                        {{/if}}
                      </p>
                      <p>
                        You may reply to this email directly in case you still have any questions or need help
                      </p>
  									</td>
  								</tr>
  								<tr>
  									<td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
  										<a href="https://tokensale.cappasity.com" class="btn-primary" itemprop="url">Sign In</a>
  									</td>
  								</tr>
  								<tr>
  									<td class="content-block">
  										&mdash; Cappasity Team
  									</td>
  								</tr>
  							</table>
  						</td>
  					</tr>
  				</table>
  				<div class="footer">
  					<table width="100%">
  						<tr>
  							<td class="aligncenter content-block">Follow <a href="https://twitter.com/cappasity">@Cappasity</a> on Twitter.</td>
  						</tr>
  					</table>
  				</div></div>
  		</td>
  		<td></td>
  	</tr>
  </table>
</body>
</html>
