<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="../css/ink.css" inline>
    <style type="text/css">
      /* Custom styles go here */
    </style>
  </head>
  <body>
    <body>
      <table class="body">
        <tr>
          <td class="center" align="center" valign="top">
            <center>
              <table class="container">
                <tr>
                  <td>
                    <table class="block-grid">
                      <tr>
                        <td>
                          <h4>
                            Dear {{ username }}, follow the link to reset your password
                          </h4>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p>
                            If you didn't request password reset - ignore this message, or, if you are worried about safety of your account,
                            contact us at <a href="mailto:{{ support }}">{{ support }}</a>
                          </p>
                          <p>
                            Press the link <a href="{{ link }}{{ qs }}">{{ link }}</a> to change your password
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </center>
          </td>
        </tr>
      </table>
    </body>
</html>