<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="../css/ink.css" inline>
    <link rel="stylesheet" href="../css/radiofx.css" inline>
    <style type="text/css">
      /* Custom styles go here */
    </style>
  </head>
  <body>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
            <table class="container">
              <tr>
                <td>
                  <table class="block-grid">
                    <tr class="column">
                      <td class="twelve">
                        <img src="https://cdn.radiofx.co/emails/rfx-logo-w25@2x.png?v=1" width="307px" height="51px" class="header-padding center" />
                      </td>
                    </tr>
                    <tr class="column">
                      <td class="twelve">
                        <p class="section-padding" style="text-align: center;">
                          Dear {{ firstName }} {{ lastName }}, follow the link to complete registration of your school
                        </p>
                      </td>
                    </tr>
                    <tr class="column">
                      <td class="twelve">
                        <div class="section-padding" style="text-align: center;">
                          <a class="rfx-button" href="{{ link }}{{ qs }}&email={{ email }}&firstName={{ firstName }}&lastName={{ lastName }}&sgv={{ sgv }}">Register Account</a>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
