<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="../css/ink.css" inline>
    <style type="text/css">
      /* Custom styles go here */
    </style>
  </head>
  <body>
    <body>
      <p>firstName: {{ firstName }}</p>
      <p>lastName: {{ lastName }}</p>
      <p>email: {{ email }}</p>
      <p>phone: {{ phone }}</p>
      <p>school: {{ school }}</p>
      <p>station: {{ station }}</p>
    </body>
</html>
