<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="../css/ink.css" inline>
    <link rel="stylesheet" href="../css/rr.css" inline>
    <style type="text/css">
      /* Custom styles go here */
    </style>
  </head>
  <body>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
            <table class="container">
              <tr>
                <td>
                  <table class="block-grid">
                    <tr class="column">
                      <td class="twelve">
                        <img src="http://104.196.127.53/432ac95695901a7877860abfabed5ff7.png" class="header-padding center" />
                      </td>
                    </tr>
                    <tr class="column">
                      <td class="twelve">
                        <p class="section-padding" style="text-align: left;">
                          {{ name }} <{{ email }}> just sent message for you:
                        </p>
                      </td>
                    </tr>
                    <tr class="column">
                      <td class="twelve">
                        <p class="section-padding" style="text-align: left;">
                          {{ message }}
                        </p>
                      </td>
                    </tr>
                    <tr class="column">
                      <td class="twelve">
                        <div class="section-padding" style="text-align: left;">
                          <h5> Extra raw data: </h5>
                          <pre>{{ agency }}</pre>
                          <pre>{{ user }}</pre>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
